name: "0 Central Release Job" # Adding the 0 so that it's on top of the list of github actions
on:
  workflow_dispatch: # Manual trigger so you don't release on every push
    inputs:
      ref_to_release:
        description: '[Optional] Branch or commit to release. Default: Github default branch'
        required: false
        type: string
        # default has to be a static string, no variables allowed
        default: ''

jobs:
    call-release-job:
      permissions:
        contents: write # needed to push commit and tag back to the repository
      uses: project-ncl/shared-github-actions/.github/workflows/maven-release.yml@v0.0.10
      with:
        ref_to_release: ${{ inputs.ref_to_release }}
        fetch_all_commits: true
      secrets: inherit
